<div class="bg-white">
  <div
    *ngFor="let employee of employees"
    class="grid grid-cols-8 gap-1 border-b p-2"
  >
    <div class="flex items-center space-x-2">
      <img
        src="{{employee.photo}}"
        alt="Profile photo"
        class="w-8 h-8 rounded-full"
      />
      <div>
        <div>{{ employee.name }}</div>
        <div class="text-sm text-gray-500">{{ employee.hours }}</div>
      </div>
    </div>
    <div *ngFor="let shift of employee.shifts" class="bg-green-100 p-1 text-xs">
      {{ shift.time }}
      <br />
      {{ shift.person }}
    </div>
  </div>
</div>
