<google-map
  class="w-full h-full"
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  [options]="options">

  <!-- Position Actual -->
  <map-marker
    [position]="center"
    [options]="markerOptions"
    [icon]="ICON_USER_LOCATION">
  </map-marker>

  <!-- Position Work place -->
  <map-marker
    [position]="buildingPosition"
    [icon]="BUILDING_ICON"
  >
  </map-marker>
  <map-circle [center]="buildingPosition" [radius]="radius" [options]="circleOptions"></map-circle>

  <!-- ClockON -->
  <map-marker
    *ngIf="isPositionValid(clockOnPosition)"
    [position]="clockOnPosition"
    [icon]="ICON_CLOCK_ON">
  </map-marker>

  <!-- ClockOff -->
  <map-marker
    *ngIf="isPositionValid(clockOffPosition)"
    [position]="clockOffPosition"
    [icon]="ICON_CLOCK_OFF">
  </map-marker>

</google-map>

