<google-map
  class="w-full h-full"
  height="100%"
  width="100%"
  [center]="center"
  [zoom]="zoom"
  [options]="options">

  <!-- Marcador central original -->
  <map-marker [position]="center" [options]="markerOptions" [icon]="IAmIcon"></map-marker>
  <!-- Círculo alrededor del centro -->
  <map-circle [center]="center" [radius]="radius" [options]="circleOptions"></map-circle>

  <!-- Segundo marcador: Ícono de edificio/lugar -->
  <map-marker
    [position]="buildingPosition"
    [icon]="buildingIcon">
  </map-marker>


</google-map>
