<div *ngIf="shifts?.shift" class="min-h-screen bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-200">
  <!-- Map Section -->
  <div class="h-96 bg-gray-200 dark:bg-gray-600 rounded-b-md shadow mb-4">
    <app-maps
      *ngIf="mapKey"
      [key]="mapKey"
      [center]="mapCenter"
      [zoom]="mapZoom"
      [radius]="mapRadius">
    </app-maps>


  </div>

  <!-- Loading message when map URL is not ready -->
  <div *ngIf="loadingMap" class="p-4 bg-yellow-100 text-yellow-800 rounded shadow">
    <p>Loading map data...</p>
  </div>

  <!-- Main Content -->
  <div class="p-6">
    <div class="max-w-xl mx-auto bg-white dark:bg-gray-700 rounded-lg shadow-md p-6">
      <!-- Shift Button -->
      <div class="text-center mb-4">
        <button
          [ngClass]="{
      'bg-blue-500 hover:bg-blue-600 text-white': !isShiftActive,

      'bg-red-500 hover:bg-red-600 text-white': isShiftActive
    }"
          class="px-8 py-2 text-lg font-semibold rounded-lg shadow transition duration-300"
          (click)="toggleShift()"
        >
          {{ isShiftActive ? 'End Shift' : 'Start Shift' }}
        </button>
      </div>

      <!-- Shift Information -->
      <div *ngIf="shifts.shift" class="p-4 bg-gray-100 dark:bg-gray-800 rounded-lg shadow-md text-sm">
        <p class="font-semibold text-gray-700 dark:text-gray-300 mb-1">Shift Details:</p>
        <p class="text-gray-800 dark:text-gray-400">
          <strong>Date:</strong> {{ shifts.shift.date_start | date: 'fullDate' }} <br>
          <strong>Time:</strong> {{ shifts.shift.date_start | date: 'shortTime' }}
          - {{ shifts.shift.date_end | date: 'shortTime' }} <br>
          <strong>Total Hours:</strong> {{ shifts.shift.total_hours }} hours <br>
          <strong>Weekday:</strong> {{ shifts.shift.weekday_code }} <br>
          <strong>Comments:</strong> {{ shifts.shift.comments || 'No comments' }}
        </p>
      </div>
    </div>
  </div>
</div>
