<div *ngIf="isThereShift" class="relative h-screen">
  <app-maps class="absolute inset-0 w-full h-full"></app-maps>
  <app-clock></app-clock>
  <app-confirmation-modal></app-confirmation-modal>
  <button (click)="refreshShifts()"
          aria-label="Reload"
          title="Reload Page"
          class="absolute top-20 right-4 bg-white p-3 rounded-md z-10 text-lg shadow-md">
    <ng-icon [name]="'heroArrowPathSolid'" class="text-gray-800 w-8 h-8"></ng-icon>
    {{ this.userGeo | json }}
  </button>
  <app-shift-details></app-shift-details>
</div>
<app-no-shift-details *ngIf="!isThereShift"></app-no-shift-details>
