<!-- Gantt Schedule Component -->
<app-gantt-container
  [employees]="getGanttEmployeesData()"
  [currentDate]="getCurrentDate()"
  [viewMode]="getCurrentViewMode()"
  [isLoading]="getIsLoading()"
  [error]="getError()"
  [locations]="calendarService.getLocations()"
  [shiftTypes]="calendarService.getShiftType()"
  [selectedLocationId]="null"
  [selectedShiftTypeId]="null"
  [searchTags]="[]"
  (shiftClick)="onGanttShiftClick($event)"
  (cellClick)="onGanttCellClick($event)"
  (addShift)="onGanttAddShift()"
  (previousClick)="calendarService.navigateToPrevious()"
  (nextClick)="calendarService.navigateToNext()"
  (todayClick)="calendarService.navigateToToday()"
  (viewModeChange)="changeView($event)"
  (locationChange)="onLocationChangeFromGantt($event)"
  (shiftTypeChange)="onShiftTypeChangeFromGantt($event)">
</app-gantt-container>

<!-- Shift Form Modal -->
<app-shift-form
  *ngIf="showShiftForm"
  [shift]="selectedShift"
  [date]="selectedDate"
  (save)="saveShift($event)"
  (close)="closeShiftForm()">
</app-shift-form>
